@model VidlyProject.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>
<br />
<br />

<div>
    @using (Html.BeginForm("Save", "Movies"))
    {
        //movie Name
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.Name)
            @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control", placeholder = "Enter Movie Name" })
        </div>

        //movie Release Date
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.ReleaseDate)
            @Html.TextBoxFor(m => m.Movie.ReleaseDate,"{0:d mm yyyy}", new { @class = "form-control", placeholder = "Enter Release Date" })
        </div>

        //movie Genre
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.GenreId)
            @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genre, "Id", "Name"), "Select Movie Genre", new { @class = "form-control" })
        </div>

        //movie Number in stock
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.NumberInStock)
            @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control", placeholder = "Enter Number in stock" })
        </div>

        //id
        @Html.HiddenFor(m=>m.Movie.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">SAVE</button>
    }

</div>

